.App {
  background-color: #636258;
  padding: 0%;
  text-align: center;
}

.Header {
  height: 140px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #c12a2a;
  color: white ;
}

.Title {
  font-size: 70px;
  padding: 10px;
  margin: 0px;

}

.NavBar {
  background-color: #8F6A3C;
  color: #B8B272;
  font-size: 40px;
}


.Link {
  text-decoration: none;
  color: white;
}

.Button {
  text-transform: none;
}
